@import "tailwindcss";

@theme {
  /* Variables de animación para Tailwind */
  --animate-fade-in-up: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  --animate-marquee: marquee 30s linear infinite;
  --animate-spin-slow: spin 8s linear infinite;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f1115;
  color: #94a3b8;
}